<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit) = "onSubmit ()">
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input [(ngModel)] = "myForm.name" name = "name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-input [(ngModel)] = "myForm.description" name = "description" type="text"></ion-input>
    </ion-item>
    <br>
    <ion-button ion-button type = "submit">Aceptar</ion-button>
  </form>
</ion-content>
